body {
  background-color: lightgrey;
}

h1 {
  text-align: center;
}

h1, h2, h3 {
  color: #99730d;
  font-family: 'Nova Mono', monospace;
}

#header {
  color: #00FF00;
}

li {
  font-size: 0.7em;
}

img {
  border: thick solid indianred;
}
figcaption {
  font-size: 0.8rem;
}
#logo, #links {
  text-align: center;
}
