*
{
  box-sizing: border-box;
}
html, body
{
  height: 100%;
  margin: 0px;
}
body
{
  margin: 10px;
  background-color: cadetblue;
}
#navigationBar
{
  text-align: center;
}
.orangeStyle
{
  display: inline-block;
  border: 2px solid black;
  background-color: orange;
  margin-top: 10px;
  padding: 0px;
}
.orangeStyle div
{
  margin: 0px;
  padding: 0px;
}
#textPart
{
  display: flex;
}
#textPart p
{
  background-color: navajowhite;
  width: 33%;
  display: inline-block;
  float: top;
  padding: 10px;
}
p img
{
  width: 90%;
  margin: 10px;
  display: flex;
  flex-flow: column wrap;
  /*float: right;*/
}

@media (max-width: 600px)
{
  #navigationBar
  {
    text-align: left;
  }
  #textPart
  {
    display: block;
  }
  #textPart p
  {
    width: 90%;
  }
}